<div class="col-sm-10">

  <div class="row">
    <div class="col-xs-12">

      <% if (errorMessage) { %>
      <div class="alert alert-danger"><%=errorMessage%></div>
      <% } %>

      <div class="row">
        <div class="col-md-12">

          <h2 class="sub-header">Discovered nodes</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Add</th>
                </tr>
              </thead>
              <tbody id="discNodesTbody">
                <% for(var i=0; i<discoveredNodes.length; i++) { %>
                <tr>
                  <td><%=discoveredNodes[i].id%></td>
                  <td><%=discoveredNodes[i].name%></td>
                  <td><a href="/devices/setup/<%=discoveredNodes[i].id%>"><span class="glyphicon glyphicon-plus"></span></a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">

          <h2 class="sub-header">Nodes</h2>

          <% if (nodes.length > 0) { %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Node type</th>
                  <th>Unit</th>
                  <th>Update interval</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="nodesTbody">
                <% for(var i=0; i<nodes.length; i++) { %>
                <tr>
                  <td><%=nodes[i].id%></td>
                  <td><%=nodes[i].name%></td>
                  <td><%=nodes[i].nodeType%></td>
                  <td><%=nodes[i].unit%></td>
                  <td><%=nodes[i].updateInterval%></td>
                  <td>
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } else { %>
            <p>No devices in the system, yet!</p>
          <% } %>

        </div>
      </div>
    </div>
  </div>

</div>