<div class="col-sm-10">

  <div class="row">
    <div class="col-xs-12">

      <div class="row">
        <div class="col-md-12">
          <h2>Add new node</h2>
          <form action="/devices/add" method="POST">
            <label for="name">Name:</label><input type="text" name="name"/>
            <label for="nodeType">Node type:</label><input type="text" name="nodeType"/>
            <label for="unit">Unit:</label><input type="text" name="unit"/>
            <label for="updateInterval">Update interval:</label><input type="text" name="updateInterval"/>
            <input type="submit" value="Submit!">
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">

          <h2 class="sub-header">Nodes in the system</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Node type</th>
                  <th>Unit</th>
                  <th>Update interval</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<nodes.length; i++) { %>
                <tr>
                  <td><%=nodes[i].id%></td>
                  <td><%=nodes[i].name%></td>
                  <td><%=nodes[i].nodeConfiguration.nodeType%></td>
                  <td><%=nodes[i].nodeConfiguration.unit%></td>
                  <td><%=nodes[i].nodeConfiguration.updateInterval%></td>
                  <td><%=nodes[i].createdAt%></td>
                  <td><%=nodes[i].updatedAt%></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>