<div class="col-sm-10">

  <div class="row">
    <div class="col-xs-12">
      
      <div class="row">
        <div class="col-md-12">

          <h2 class="sub-header">Node details</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Node type</th>
                  <th>Unit</th>
                  <th>Update interval</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=node.id%></td>
                  <td><%=node.name%></td>
                  <td><%=node.nodeType%></td>
                  <td><%=node.unit%></td>
                  <td><%=node.updateInterval%></td>
                  <td><%=node.createdAt%></td>
                  <td><%=node.updatedAt%></td>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Last 20 messages</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Reason</th>
                  <th>Body</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody id="messagesTbody">
                <% if (messages.length > 0) { %>
                <% for(var i=0; i<messages.length; i++) { %>
                <tr>
                  <td><%=messages[i].messageReason%></td>
                  <td><%=messages[i].messageBody%></td>
                  <td><%=messages[i].createdAt%></td>
                </tr>
                <% } %>
                <% } else { %>
                  <tr><td colspan="7" class="text-center">No messages, yet!</td></tr>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  (function (io) {
    var socket = io.connect();

    socket.on('connect', function socketConnected() {

      socket.get('/subscribe/subscribeIncoming');

      socket.on('incomingmessage', function mes(message) {
        if (message.data && message.verb === 'created' 
          && message.data.nodeId === '<%=node.id%>') {
          $('#messagesTbody').append('<tr>'+
            '<td>'+message.data.messageReason+'</td>'+
            '<td>'+message.data.messageBody+'</td>'+
            '<td>'+message.data.createdAt+'</td>');
        }
      });
    });
    window.socket = socket;
    
  })(window.io);
</script>