<div class="col-sm-10">

  <div class="row">
    <div class="col-xs-12">

      <% if (errorMessage) { %>
      <div class="alert alert-danger"><%=errorMessage%></div>
      <% } %>

      <div class="row">
        <div class="col-md-12">

          <h2 class="sub-header">Discovered nodes</h2>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="discNodesTbody">
              <% if (discoveredNodes.length > 0) { %>
                <% for(var i=0; i<discoveredNodes.length; i++) { %>
                <tr>
                  <td><%=discoveredNodes[i].id%></td>
                  <td><%=discoveredNodes[i].name%></td>
                  <td><a href="/devices/setup/<%=discoveredNodes[i].id%>"><span class="glyphicon glyphicon-plus"></span></a></td>
                </tr>
                <% } %>
              <% } else { %>
                <tr id="noDiscovered"><td colspan="6" class="text-center">No new discovered devices!</td></tr>
              <% } %>
              </tbody>
            </table>
          </div>


        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">

          <h2 class="sub-header">Nodes</h2>

          
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Node type</th>
                  <th>Unit</th>
                  <th>Update interval</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="nodesTbody">
              <% if (nodes.length > 0) { %>
                <% for(var i=0; i<nodes.length; i++) { %>
                <tr>
                  <td><a href="/devices/<%=nodes[i].id%>"><%=nodes[i].id%></a></td>
                  <td><%=nodes[i].name%></td>
                  <td><%=nodes[i].nodeType%></td>
                  <td><%=nodes[i].unit%></td>
                  <td><%=nodes[i].updateInterval%></td>
                  <td>
                    <a href="/devices/edit/<%=nodes[i].id%>"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="/devices/delete/<%=nodes[i].id%>"><span class="glyphicon glyphicon-trash"></span></a>
                  </td>
                </tr>
                <% } %>
              <% } else { %>
                <tr><td colspan="6" class="text-center">No devices in the system, yet!</td></tr>
              <% } %>
              </tbody>
            </table>
          </div>
          

        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  (function (io) {
    var socket = io.connect();

    socket.on('connect', function socketConnected() {

      socket.get('/subscribe/devices');

  /*TODO: acceptable table appending*/
      socket.on('discoverednode', function mes(message) {
        console.log(message);
        if (message.data && message.verb === 'created') {
          $('#noDiscovered').hide();
          $('#discNodesTbody').append('<tr>'+
            '<td>'+message.data.id+'</td>'+
            '<td>'+message.data.name+'</td>'+
            '<td><a href="/devices/setup/'+message.data.id+'"><span'+
            ' class="glyphicon glyphicon-plus"></span></a></td>'+
            '</tr>');
        }
      });
    });
    window.socket = socket;
    
  })(window.io);
</script>